<section class="bg-white mat-elevation-z10" style="min-height: 100vh;margin-left: 10px">
  <div class="row">
    <div class="col-md-12">
      <div class="card-tabs">
        <div class="card-header p-0 pt-1">
          <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="custom-tabs-one-home-tab" data-toggle="pill"
                 role="tab" aria-controls="custom-tabs-one-home" aria-selected="true"
                 [routerLink]="['/admin/exam',{outlets:{exam:['exam-list']}}]"
                 style="font-weight: bolder">EXAM LIST</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" id="custom-tabs-one-profile-tab" data-toggle="pill"  role="tab"
                 aria-controls="custom-tabs-one-profile" aria-selected="false"
                 [routerLink]="['/admin/exam',{outlets:{exam:['create-exam']}}]"
                 style="font-weight: bolder">CREATE EXAM</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <div class="tab-content" id="custom-tabs-one-tabContent">
            <router-outlet name="exam"></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


