<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#"><img src="../../../assets/image/logo.png" height="50"
                                          style="border-radius: 50%"></a>
    <span style="margin-left: 400px">THE QUIZ CHALLENGE WEBSITE</span>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
      </ul>
      <span class="navbar-text">
      <a class="navbar-brand" [routerLink]="'/login'">Login<i class="fa fa-user-circle-o" aria-hidden="true"
                                                     data-toggle="tooltip" data-placement="bottom" title="Login"></i>
</a>
      <a class="navbar-brand" routerLink="/register"><i class="fa fa-registered" aria-hidden="true" data-toggle="tooltip"
                                                 data-placement="bottom" title="Register">Register</i>
</a>
    </span>
    </div>
  </div>


</nav>
<div style="height: 40px"></div>
<div class="container">
  <div class="row">
    <div class="col-md-4 ">
      <div class="container">
        <div class="row test">
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="../../../assets/image/exam.png" alt="Card image cap" height="200px">
              <div class="card-body">
                <p class="card-text">
                  Người dùng có thể kiểm tra kiến thức của mình bằng các bài thi đánh giá năng lực vô cùng chất lượng.
                  <br>
                  <br>
                  Bài thi tổng hợp kiến thức từ cơ bản đến nâng cao.
                  <br>
                  <br>
                  Thời gian làm bài được tính toán phù hợp với thực tế.
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-md-4 ">
      <div class="container">
        <div class="row test">
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="../../../assets/image/quiz1.png" alt="Card image cap" height="200px">
              <div class="card-body">
                <p class="card-text">
                  Có rất nhiều câu hỏi với các thể loại: câu hỏi chọn nhiều đáp án, câu hỏi true false, câu hỏi điền vào
                  chỗ trống.
                  <br>
                  <br>
                  Câu hỏi được biên soạn bới các chuyên gia hàng đầu trong nhiều lĩnh vực.
                  <br>
                  <br>
                  Câu hỏi từ cơ bản đến nâng cao.
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-md-4 ">
      <div class="container">
        <div class="row test">
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="../../../assets/image/result.png" alt="Card image cap" height="200px">
              <div class="card-body">
                <p class="card-text">
                  Nhận kết quả đánh giá năng lực
                  <br>
                  Nhận kết quả đánh giá năng lực
                  <br>
                  Nhận kết quả đánh giá năng lực
                  <br>
                  Nhận kết quả đánh giá năng lực
                  <br>
                  Nhận kết quả đánh giá năng lực
                  <br>
                  Nhận kết quả đánh giá năng lực
                  <br>
                  Nhận kết quả đánh giá năng lực
                  <br>


                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<footer class="bg-light text-center text-lg-start" style="height: auto">

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">

    <a class="text-dark">Nhóm Mắt Biếc</a>
  </div>

</footer>
