<div class="card card-primary">
  <div class="card-header">
    <h3 class="card-title">Edit Question</h3>
  </div>
  <!-- /.card-header -->
  <!-- form start -->
  <form (ngSubmit)="editQuestion(id)">
    <div class="card-body">
      <div class="form-group">
        <label for="question">Question:</label>
        <input type="text" class="form-control" id="question" name="title" [(ngModel)]="question.title">
      </div>

      <h2>Answers:</h2>

      <div *ngIf="question.type.name == 'multipleChoice'">
        <div *ngFor="let answer of question.answers; let i = index">
          <!--      form multiplechoice-->
          <div class="custom-control custom-radio">
            <input class="custom-control-input" type="radio" id="{{answer.id}}" [checked]="(answer.correct == true)"
                   disabled name="content{{i}}">
            <label for="{{answer.id}}" class="custom-control-label">{{answer.content}}</label>
          </div>
          <!--      form multiplechoice finish-->
        </div>

        <div class="form-group clearfix">
          <div class="icheck-success d-inline" *ngFor="let i of array; let k = index">
            <input type="radio" name="r3" [id]="k" [checked]="(answer.correct == true)"
                   (click)="chooseCorrectAnswerMulOne($event,k)">
            <label [for]="k">{{i}}
            </label>
          </div>
        </div>
      </div>

      <div *ngIf="question.type.name == 'trueOrFalse'">
        <div *ngFor="let answer of question.answers; let i = index">
          <!--      form multiplechoice &btruefalse-->
          <div class="form-check">
            <input class="form-check-input" type="radio" name="radio1" [checked]="(answer.correct == true)"
                   (change)="chooseCorrectAnswerTrueFalse($event, i)">
            <label class="form-check-label">{{answer.content}}</label>
          </div>
          <!--      form multiplechoice &btruefalse finish-->
        </div>
      </div>

      <div *ngIf="question.type.name == 'multichoicemultianswer'">
        <div *ngFor="let answer of question.answers">
          <!--      form multiple choice with many answers-->
          <div class="form-check">
            <input class="form-check-input" type="checkbox" [checked]="(answer.correct == true)" disabled>
            <label class="form-check-label">{{answer.content}}</label>
          </div>
          <!--     form multiple choice with many answers-->
        </div>

        <div class="form-group clearfix">
          <div class="icheck-primary d-inline" *ngFor="let i of array; let k = index">
            <input type="checkbox" [id]="k" [checked]="(question.answers[k].correct == true)"
                   (click)="chooseCorrectAnswerMulMul($event,k)">
            <label [for]="k">{{i}}</label>
          </div>
        </div>
      </div>


      <div *ngIf="question.type.name == 'fillInBank'">
        <div *ngFor="let answer of question.answers">
          {{answer.content}}
        </div>
        <br>

<!--        <div class="form-group">-->
<!--          <label for="a">Create new </label>-->
<!--          <input type="text" class="form-control" id="a" name="content"-->
<!--                 [(ngModel)]="nextAnswer.content">-->
<!--          <button type="button" class="btn btn-block btn-primary" style="width: 10%;font-size: small;margin-top: 5px"-->
<!--          (mouseout)="addQuestionToArray($event)"-->
<!--          >-->
<!--            Add Answer-->
<!--          </button>-->
<!--          <span *ngFor="let answer of answers">{{answer.content + ', '}}</span>-->
<!--        </div>-->

        <div class="form-group">
          <label for="a"></label>
          <input type="text" class="form-control" id="a" name="content"
                 (change)="getValue($event)">
          <button type="button" class="btn btn-block btn-primary" style="width: 10%;font-size: small;margin-top: 5px"
                  (click)="addAnswerToArray()">Add Answer
          </button>
          <span *ngFor="let answer of answers">{{answer.content + ', '}}</span>
        </div>
      </div>


      <div class="form-group">
        <label>Category</label>
        <select class="form-control" [(ngModel)]="question.category.id" name="category">
          <option *ngFor="let category of categories" [value]="category.id"
                  [selected]="category.id == id">{{category.name}}</option>
        </select>
      </div>

    </div>


    <div class="card-footer">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
