<section class="bg-white mat-elevation-z10" style="min-height: 100vh;width: 1070px;margin-left: 10px">
<!--  <mat-tab-group>-->
<!--    <mat-tab label="List Category">-->


<!--    </mat-tab>-->
<!--    <mat-tab label="Create Category">-->

<!--    </mat-tab>-->
<!--  </mat-tab-group>-->

<!--  <ul>-->
<!--    <li>  <a class="nav-link" [routerLink]="['/admin/category',{outlets:{category:['list-category']}}]">ListCate</a></li>-->
<!--    <li><a class="nav-link" [routerLink]="['/admin/category',{outlets:{category:['create-category']}}]">Create</a></li>-->
<!--  </ul>-->

<!--  <router-outlet name="category"></router-outlet>-->

  <div class="row">
    <div class="col-md-12">
      <div class="card card-primary card-tabs" style="">
        <div class="card-header p-0 pt-1">
          <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="custom-tabs-one-home-tab" data-toggle="pill" href="#custom-tabs-one-home" role="tab" aria-controls="custom-tabs-one-home" aria-selected="true" [routerLink]="['/admin/category',{outlets:{category:['list-category']}}]">List Category</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="custom-tabs-one-profile-tab" data-toggle="pill" href="#custom-tabs-one-profile" role="tab" aria-controls="custom-tabs-one-profile" aria-selected="false" [routerLink]="['/admin/category',{outlets:{category:['create-category']}}]">Create Category</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <div class="tab-content" id="custom-tabs-one-tabContent">
            <router-outlet name="category"></router-outlet>
          </div>
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</section>

