<mat-card>
  <mat-card-content>
    <h1 class=" text-center">{{currentExam.name}}</h1>
  </mat-card-content>
  <div class="example-section" *ngFor="let question of currentExam.examQuestions; let i = index">
    <ng-container *ngIf="question.question.type.name == 'multipleChoice' ||  question.question.type.name == 'trueOrFalse'">
      <mat-card >
        <mat-card-content class="box-card-custom" >
          <h2>Question {{i+1}}: {{question.question.title}}</h2>
          <section class="example-section" *ngFor="let answer of question.question.answers">
            <mat-radio-button color="primary" name="{{question.question.id}}" >{{answer.content}}</mat-radio-button>
            <br><br>
          </section>
        </mat-card-content>
      </mat-card>
    </ng-container>
    <ng-container *ngIf="question.question.type.name == 'fillInBank'">
      <mat-card >
        <mat-card-content class="box-card-custom" >
          <h2>Question {{i+1}}: {{question.question.title}}</h2>
          <section class="example-section" *ngFor="let answer of question.question.answers">
            <textarea cols="200" rows="5" matInput color="primary" autocomplete="off" name="{{question.question.id}}"></textarea>
            <br><br>
          </section>
        </mat-card-content>
      </mat-card>
    </ng-container>
    <ng-container *ngIf="question.question.type.name == 'multichoicemultianswer'">
      <mat-card >
        <mat-card-content class="box-card-custom" >
          <h2>Question {{i+1}}: {{question.question.title}}</h2>
          <section class="example-section" *ngFor="let answer of question.question.answers">
            <mat-checkbox color="primary" name="{{question.question.id}}" >{{answer.content}}</mat-checkbox>
            <br><br>
          </section>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </div>
</mat-card>
