<div class="card">

  <!-- /.card-header -->
  <div class="card-body">
    <table class="table table-bordered" style="border: #1E90FF solid thick" >
      <thead>
      <tr style="border: #1E90FF solid thick">
        <th style="width: 10px; text-align: center">#</th>
        <th style="text-align: center;">Name</th>
        <th style="text-align: center">Time</th>
        <th style="text-align: center">Date Create</th>
        <th style="text-align: center">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let exam of examList | paginate: { id: 'listing_pagination',
itemsPerPage: 5,
currentPage: page,
totalItems: totalRecords}; let i = index">
        <td style="text-align: center " width="150px">{{i + 1}}</td>
        <td style="text-align: center">{{exam.name}}</td>
        <td style="text-align: center">{{exam.countDown}}</td>
        <td style="text-align: center">{{exam.date}}</td>
        <td style="text-align: center">
          <a [routerLink]="['/admin/exam',{outlets:{exam:['exam-detail', exam.id]}}]">
            <i class="fas fa-eye"></i> Detail
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <!-- /.card-body -->
  <div class="card-footer clearfix">
    <ul class="pagination pagination-sm m-0 float-right">
      <pagination-controls id="listing_pagination"  (pageChange)="page = $event">
      </pagination-controls>
    </ul>
  </div>
</div>

