<section class="bg-white mat-elevation-z10" style="min-height: 100vh;margin-left: 10px">
  <div class="row">
    <div class="col-md-12">
      <div class="card-tabs">
        <div class="card-header p-0 pt-1">
          <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="custom-tabs-one-home-tab" data-toggle="pill" href="#custom-tabs-one-home"
                 role="tab" aria-controls="custom-tabs-one-home" aria-selected="true"
                 [routerLink]="['/admin/question',{outlets:{question:['list-question']}}]"
                 style="font-weight: bolder">List Question</a>
            </li>

            <li class="nav-item ">
              <a class="nav-link" id="custom-tabs-one-profile-tab" data-toggle="pill"  role="tab"
                 aria-controls="custom-tabs-one-profile" aria-selected="false"
                 [routerLink]="['/admin/question',{outlets:{question:['create-ques-mul-one']}}]"
                 style="font-weight: bolder">Mul-One Question</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" id="custom-tabs-two-profile-tab" data-toggle="pill" href="#custom-tabs-two-profile"
                 role="tab" aria-controls="custom-tabs-two-profile" aria-selected="false"
                 [routerLink]="['/admin/question',{outlets:{question:['create-ques-mul-mul']}}]"
                 style="font-weight: bolder">Mul-mul Question</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" id="custom-tabs-one-messages-tab" data-toggle="pill"
                 href="#custom-tabs-one-messages" role="tab" aria-controls="custom-tabs-one-messages" aria-selected="false"
                 [routerLink]="['/admin/question',{outlets:{question:['create-question-truefalse']}}]"
                 style="font-weight: bolder">True False Question</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" id="custom-tabs-one-settings-tab" data-toggle="pill" href="#custom-tabs-one-settings"
                 role="tab" aria-controls="custom-tabs-one-settings" aria-selected="false"
                 [routerLink]="['/admin/question',{outlets:{question:['create-question-input']}}]"
                 style="font-weight: bolder">FillInTheBlank Question</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <div class="tab-content" id="custom-tabs-one-tabContent">
            <router-outlet name="question"></router-outlet>
          </div>
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</section>

