<mat-nav-list>
  <mat-list-item>
    <a [routerLink]="'/accounts'" *ngIf="isExpanded || isShowing" class="mat-h2"> Dashboard </a>
    <mat-icon mat-list-icon [routerLink]="'/accounts'" class="color_custom">dashboard</mat-icon>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon [routerLink]="'/create-account'" class="color_custom">account_box</mat-icon>
    <a [routerLink]="'/create-account'" *ngIf="isExpanded || isShowing" class="mat-h2"> Account </a>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon [routerLink]="'/contacts'" class="color_custom">history</mat-icon>
    <a [routerLink]="'/contacts'" *ngIf="isExpanded || isShowing" class="mat-h2"> Check Result </a>
  </mat-list-item>
</mat-nav-list>
