<mat-nav-list>
  <mat-list-item [routerLink]="'/dashboard'">
    <mat-icon mat-list-icon class="color_custom">dashboard</mat-icon>
    <a *ngIf="isExpanded || isShowing" class="mat-h2 "> Dashboard </a>
  </mat-list-item>
  <mat-list-item [routerLink]="'/examination'">
    <mat-icon mat-list-icon class="color_custom" >grading</mat-icon>
    <a *ngIf="isExpanded || isShowing" class="mat-h2 "> Examination </a>
  </mat-list-item>
  <mat-list-item [routerLink]="'/history'">
    <mat-icon mat-list-icon class="color_custom">history</mat-icon>
    <a *ngIf="isExpanded || isShowing" class="mat-h2 "> History </a>
  </mat-list-item>
</mat-nav-list>
