


<div class="row" >
  <div class="col-md-5"  style="border: #1E90FF solid; margin-right: 20px; margin-left: 30px" >
    <BUTTON class="btn btn-primary" style="margin-left: 150px; margin-top: 10px"><a (click)="Submit($event)" ><i class="fas fa-registered">REGISTER</i></a></BUTTON>

    <div class="form-group">
      <label>Time</label>
      <select class="form-control"  style="width: 30%" [(ngModel)]="exam.countDown" >
        <option *ngFor="let i of time,let id=index" [value]="i" >{{i + ' minutes'}}</option>
      </select>
    </div>
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" placeholder="Enter name" style="width: 50%" [(ngModel)]="exam.name">
    </div>

    <div class="container mt-sm-5 my-1" *ngFor="let question of questions,let i =index">
      <div *ngIf="question.active === true">
        <div class="question ml-sm-5 pl-sm-5 pt-2" style="border: 1px solid gray; border-radius: 10px; width: 80%">

          <div class="py-2 h5"><b>{{question.title}}</b></div>

          <div *ngIf="question.type.name == 'multipleChoice' || question.type.name == 'trueOrFalse'">
            <div *ngFor="let answer of question.answers">
              <!--      form multiplechoice &btruefalse-->
              <div class="custom-control custom-radio">
                <input class="custom-control-input" type="radio" id="{{answer.id}}" [checked]="(answer.correct == true)"
                       disabled>
                <label for="{{answer.id}}" class="custom-control-label">{{answer.content}}</label>
              </div>
              <!--      form multiplechoice &btruefalse finish-->
            </div>
          </div>


          <div *ngIf="question.type.name == 'multichoicemultianswer'">
            <div *ngFor="let answer of question.answers">
              <!--      form multiple choice with many answers-->
              <div class="form-check">
                <input class="form-check-input" type="checkbox" [checked]="(answer.correct == true)" disabled>
                <label class="form-check-label">{{answer.content}}</label>
              </div>
              <!--     form multiple choice with many answers-->
            </div>
          </div>

          <div *ngIf="question.type.name == 'fillInBank'">
            <div *ngFor="let answer of question.answers">
              <!--      form multiple choice with many answers-->
              <div class="form-group">
            <textarea id="text-area" class="form-control" [value]="answer.content" disabled
                      style="width: 50%"></textarea>
              </div>
              <!--     form multiple choice with many answers-->
            </div>
          </div>

        </div>
      </div>
      <div *ngIf="question.active === true">

        <BUTTON class="btn bg-danger " style="margin-left: 120px; margin-top: 10px"><a (click)="REMOVE($event,i)" ><i class="fa fa-minus" aria-hidden="true">REMOVE THIS QUEST</i></a></BUTTON>


      </div>
    </div>

  </div>
  <div class="col-md-6" style="border: #1E90FF solid">
    <app-question-list2 (messageEvent)="receiveMessage($event)"></app-question-list2>

  </div >


</div>




